API/API/Connected Services/APIBackend/wsdl4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DomainBellaNS.API.APIBackend" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainBellaNS.API.APIBackend" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHuman">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Human" nillable="true" type="tns:Human" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHuman" nillable="true" type="tns:ArrayOfHuman" />
  <xs:complexType name="Human">
    <xs:sequence>
      <xs:element minOccurs="0" name="age" type="xs:int" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Human" nillable="true" type="tns:Human" />
</xs:schema>