API/API/Connected Services/APIBackendService/wsdl1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3333/bella/APIBackend/wsdl?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainBellaNS.API.APIBackend" />
  <xs:complexType name="ArrayOfKeyValueOfstringHumanFtK7a4Gx">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringHumanFtK7a4Gx">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DomainBellaNS.API.APIBackend" name="Value" nillable="true" type="q1:Human" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringHumanFtK7a4Gx" nillable="true" type="tns:ArrayOfKeyValueOfstringHumanFtK7a4Gx" />
</xs:schema>