API/API/Connected Services/APIBackendService/wsdl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3333/bella/APIBackend/wsdl?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainBellaNS.API.APIBackend" />
  <xs:import schemaLocation="http://localhost:3333/bella/APIBackend/wsdl?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateRangeOfHumans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DomainBellaNS.API.APIBackend" minOccurs="0" name="HumanList" nillable="true" type="q1:ArrayOfHuman" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRangeOfHumansResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHuman">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DomainBellaNS.API.APIBackend" minOccurs="0" name="Human" nillable="true" type="q2:Human" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHumanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DomainBellaNS.API.APIBackend" minOccurs="0" name="GetHumanByIdResult" nillable="true" type="q3:Human" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHumansResult" nillable="true" type="q4:ArrayOfKeyValueOfstringHumanFtK7a4Gx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>